.navbar {
  height: 85px;
  transition: height 0.3s ease;
}

.navbar-shrink {
  height: 60px;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
  margin-right: 20px;
}

.navbar-nav .nav-link:hover {
  color: #ffc107;
  font-weight: normal;
}

.nav-item .nav-link.active {
  font-weight: bold;
}

.jumbotron {
  height: 100vh;
  padding: 8rem;
  background-color: #bfbfbf;
}

.single-divider {
  width: 100%;
  height: 2px;
  background-color: rgb(0, 0, 0);
  margin: 20px auto;
}

.divider {
  display: flex;
  align-items: center;
  width: 100%;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 2.5px;
  background-color: black;
  margin: 0 1em;
}

.one-line h2 {
  margin: 0;
}

#gallery {
  height: 100vh;
  padding: 5rem;
  background-color: #bfbfbf;
}

#about {
  padding: 5rem;
  height: 100vh;
}

#contact {
  padding: 3rem;
  height: 90vh;
}

footer {
  height: 30px;
  background-color: #5f5f5f;
}
